{% extends 'html/Home.html' %}
{% block title %}
About
{% endblock title %}
{% block section1 %}
<div class="jumbotron text-center" style="margin-bottom:0;height:30vh">
<h1>About</h1>
</div>
{% endblock section1 %}

{% block section2 %}
<div class="container">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium illum ab velit eum, iusto impedit, explicabo exercitationem earum dolorem nisi. Dicta culpa ipsum ad molestias nam deserunt explicabo harum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium illum ab velit eum, iusto impedit, explicabo exercitationem earum dolorem nisi. Dicta culpa ipsum ad molestias nam deserunt explicabo harum?
    </h1>
</div>
{% endblock section2 %}

{% block image %}
{% endblock image %}